.c-menu-edit-container
  width 100%
  max-height 600px
  .form-box
    padding-right 30px
    max-height 560px
    overflow hidden
    overflow-y auto
  .btn-box
    text-align right 
    margin-top 10px