.industry-container
  width 100%
  height 100%
  .industry-head
    height 45px
    white-space nowrap
    overflow hidden
  .industry-tab
    height calc(100% - 45px)
    .el-table
      td,th
        text-align left !important
  .coverFile-uploader
    width 100px
    height 100px
    vertical-align bottom
    display inline-block
    .el-upload
      width 100px
      height 100px
      border 1px dashed #d9d9d9
      border-radius 6px
      cursor pointer
      position relative
      .el-icon-plus 
        display inline-block
        font-size 28px
        color #8c939d
        width 100px
        height 100px
        line-height 100px
        text-align center
      img 
        width 100%
        height 100%
    .el-upload:hover
      border-color #409EFF
  .select-cover-map
    vertical-align bottom
    margin-left 20px
  .edit-btn
    text-align right 
    margin-top 10px
  .el-drawer__body
    height 100%