.c-land-edit-container
  width 100%
  height 100%
  .form-box
    padding-right 30px
    height calc(100% - 40px)
    overflow hidden
    overflow-y auto
    .coverFile-uploader
      width 178px
      height 178px
      vertical-align bottom
      display inline-block
      .el-upload
        width 178px
        height 178px
        border 1px dashed #d9d9d9
        border-radius 6px
        cursor pointer
        position relative
        .el-icon-plus 
          display inline-block
          font-size 28px
          color #8c939d
          width 178px
          height 178px
          line-height 178px
          text-align center
        img 
          width 100%
          height 100%
      .el-upload:hover
        border-color #409EFF
    .select-cover-map
      vertical-align bottom
      margin-left 20px
  .btn-box
    text-align right 
    margin-top 10px
  .land-screenshot-dialog
    width 800px !important
    height 740px !important