.pic-manage-container
    .choose-box
        height 40px
    .tab-box
        height 240px
        td,th
            text-align center
    .pic-box
        border 1px solid #ddd
        margin 15px 0px
        padding 10px
        height 300px
        overflow hidden
        overflow-y auto
    .btn-box
        width 100%
        text-align right 